<!DOCTYPE html>


<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css"> 
<link rel="icon" href="/images/logo-crp.png">

</head>



<body>

<div class="main-content">

 {{>header}}
<img class="portrait"   src="/images/logo-crp.png">

<p>The data for this is coming from somewhere special</p>


</div>
  


{{>footer}}

</body>






</html>